* {
    margin: 0;
    padding: 0;
}

body,
h1,
h2,
button,
.tile,
#score-tracker,
#popup-message,
#popup-score {
    font-family: 'Montserrat', sans-serif;
    color: #2C2A4A;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #8CA6A3;
}

h1 {
    font-size: 3em;
}

#header-container {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5%;
}

#score-reset-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

#score-tracker {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 40px;
    font-size: large;
    font-weight: bold;
}

#highscore-tracker {
    font-size: large;
    font-weight: bold;
}

.board-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
    background-color: #4B3F72;
    border: #4B3F72 10px solid;
    border-radius: 10px;
    transition: background 5s;
    opacity: 0;
    transform: scale(0.95);
    transition: opacity 2s ease, transform 2s ease;
    visibility: hidden;
}

.board-container.visible {
    opacity: 1;
    transform: scale(1);
    visibility: visible;
}

.tile {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    transition: background-color 0.2s ease, transform 0.1s ease;
    border-radius: 10px;
}

#reset-button {
    background-color: #D8B4A6;
    font-size: large;
    font-weight: bold;
    color: #2C2A4A;
    height: 50px;
    width: 100px;
    border: none;
    transition: background 1s;
    border-radius: 10px;
}

#reset-button:hover {
    cursor: pointer;
    background-color: #F7BFA0;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.5);
}

#go-back-btn {
    background-color: #D8B4A6;
    font-size: large;
    font-weight: bold;
    color: #2C2A4A;
    height: 40px;
    width: 70px;
    border: none;
    transition: background 1s;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#go-back-btn:hover {
    cursor: pointer;
    background-color: #F7BFA0;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.5);
}

#go-back-icon {
    width: 80%;    
    height: 80%;   
    object-fit: contain; 
    display: block;
    pointer-events: none; 
    color: #2C2A4A;
}

/* -----------------POPUP WELCOME--------------------*/
#welcome-popup-window {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

#welcome-content-container {
    display: flex;
    flex-direction: column;
    background-color: #F0EAD6;
    border-radius: 10px;
    padding: 30px 40px;
    width: 30vw;
    height: 30vh;
    overflow: scroll;
}

#play-button {
    padding: 10px 20px;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    transition: background 1s;
    background-color: #8CA6A3;
    color: #2E1F1A;
}

#play-button:hover {
    background-color: #A5A58D;
}

#good-luck-text {
    font-weight: bold;
}

/* -----------------POPUP END GAME--------------------*/
#popup-window {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    visibility: hidden;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

#popup-content-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #F0EAD6;
    border-radius: 10px;
    padding: 30px 40px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.7);
}

#popup-window h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

#popup-window p {
    margin-bottom: 20px;
    font-size: 1.2em;
}

#popup-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    border-radius: 10px;
}

#popup-buttons button {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    transition: background 1s;
}

#keep-playing {
    background-color: #8CA6A3;
    color: #2E1F1A;
}

#keep-playing:hover {
    background-color: #A5A58D;
}

#reset-game {
    background-color: #D8B4A6;
    font-size: large;
    font-weight: bold;
    color: #2C2A4A;
}

#reset-game:hover {
    cursor: pointer;
    background-color: #F7BFA0;
}